<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="nav-bar"
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 150px;
        padding: 30px;
        background-color: antiquewhite;
      "
    >
      <div class="tab active" data-target="#home">Home</div>
      <div class="tab" data-target="#about">About</div>
      <div class="tab" data-target="#contact">Contact</div>
    </div>

    <div class="tab-content" id="home">
      <!-- Content for the Home tab -->
    </div>

    <div class="tab-content" id="about">
      <!-- Content for the About tab -->
    </div>

    <div class="tab-content" id="contact">
      <!-- Content for the Contact tab -->
    </div>
    <script src="../static/scripts/gpt.js" defer></script>
  </body>
</html>
